#

# This regression model is set to predict at what price you should list your item to get the most sales.

In [91]:
!pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.54.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.3.25)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.23.5)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.2)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.6.3)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: scipy>=1.5 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [92]:
import sys, numpy as np
import pandas as pd
import os
import warnings
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Input, Dense, Dropout, GlobalAveragePooling1D
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import Sequential
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from numpy import argmax

os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'
warnings.filterwarnings('ignore')

df= pd.read_csv('https://raw.githubusercontent.com/ReneMazuela/Datasets/main/ebay_ecom.csv')

print(df.columns)

Index(['all_price', 'brand', 'item_name', 'rating', 'comments',
       'shipping_cost', 'shipping_from', 'sold_quantity', 'view_quantity'],
      dtype='object')

In [121]:
df.columns = df.columns.str.strip()
df = df.replace('None', 0)
df = df.replace(['shipping', 'Free','Shipping'], 0)
df = df.replace(',', '', regex=True)
df = df.dropna()

In [94]:
def convert_price(price_str):
    # If price_str is not a string, return it as is
    if not isinstance(price_str, str):
        return price_str

    # Remove commas
    price_str = price_str.replace(',', '')

    if "to" in price_str:
        prices = price_str.split(" to ")
        lower = float(prices[0])
        upper = float(prices[1])
        return (lower + upper) / 2
    else:
        return float(price_str)

# Apply the function to your data
df['all_price'] = df['all_price'].apply(convert_price)

In [95]:
from sklearn.preprocessing import LabelEncoder

# Initialize a new LabelEncoder
le = LabelEncoder()

# Apply LabelEncoder to each of the specified columns
df['shipping_from'] = le.fit_transform(df['shipping_from'])
df['brand'] = le.fit_transform(df['brand'])
df['comments'] = le.fit_transform(df['comments'])

In [96]:
df.sample(5)

,all_price,brand,item_name,rating,comments,shipping_cost,shipping_from,sold_quantity,view_quantity
849,204.99,185,Samsung Galaxy S21 5G G991U 128/256GB Unlocked...,2,7,29.69,22,0,0
1195,139.00,185,Samsung Galaxy Z Flip3 5G SM-F711U - 128GB - (...,0,7,30.55,22,0,0
1228,129.95,17,4G LTE Kyocera DuraXV Extreme E4810 16GB Veriz...,6,5,28.17,22,7,9
1794,234.99,32,Apple iPhone 11 64GB - T-Mobile / Metro PCS - ...,6,7,30.17,22,0,0
408,144.95,185,Samsung Galaxy A71 5G SM-A716U1 - 128GB - Pris...,0,5,29.31,22,0,0

In [97]:
df.drop(['item_name'], axis=1, inplace=True)

In [122]:

df.sample(1000)

,all_price,brand,rating,comments,shipping_cost,shipping_from,sold_quantity,view_quantity
64,609.380,133,5,0,34.63,22,18,0
1677,699.990,220,0,5,28.5,22,0,0
1867,121.490,32,0,7,0,2,0,0
816,217.490,179,101,7,29.12,22,0,0
699,90.500,90,0,7,25.87,22,0,0
...,...,...,...,...,...,...,...,...
1130,7.500,32,0,0,33.3,22,0,0
58,621.605,32,11,3,57.57,21,37,0
1646,305.850,47,0,0,52.18,22,0,0
791,386.990,32,174,2,33.06,22,435,26
566,89.990,185,11,7,27.41,22,243,0

In [112]:
df.isnull().sum()

all_price        0
brand            0
rating           0
comments         0
shipping_cost    0
shipping_from    0
sold_quantity    0
view_quantity    0
dtype: int64

In [113]:
df.fillna(df.mean(), inplace=True)

In [123]:
scaler = MinMaxScaler()

X = df.drop('all_price', axis=1)
y = df['all_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [126]:
from tensorflow.keras import backend as K
# Custom loss function
def rmse(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true)))

# Model architecture
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1)
])

model.compile(loss=rmse, optimizer=Adam(), metrics=[rmse])

model.fit(X_train, y_train, epochs=100, batch_size=32)

Epoch 1/100
48/48 [==============================] - 1s 2ms/step - loss: 286.5353 - rmse: 286.5353
Epoch 2/100
48/48 [==============================] - 0s 2ms/step - loss: 246.0633 - rmse: 246.0633
Epoch 3/100
48/48 [==============================] - 0s 3ms/step - loss: 205.1977 - rmse: 205.1977
Epoch 4/100
48/48 [==============================] - 0s 2ms/step - loss: 202.9065 - rmse: 202.9065
Epoch 5/100
48/48 [==============================] - 0s 2ms/step - loss: 203.2314 - rmse: 203.2314
Epoch 6/100
48/48 [==============================] - 0s 2ms/step - loss: 202.7238 - rmse: 202.7238
Epoch 7/100
48/48 [==============================] - 0s 2ms/step - loss: 203.1897 - rmse: 203.1897
Epoch 8/100
48/48 [==============================] - 0s 2ms/step - loss: 200.5063 - rmse: 200.5063
Epoch 9/100
48/48 [==============================] - 0s 2ms/step - loss: 201.4210 - rmse: 201.4210
Epoch 10/100
48/48 [==============================] - 0s 2ms/step - loss: 202.5538 - rmse: 202.5538
Epoch 11/100
48/48 [==============================] - 0s 2ms/step - loss: 201.0265 - rmse: 201.0265
Epoch 12/100
48/48 [==============================] - 0s 2ms/step - loss: 201.0489 - rmse: 201.0489
Epoch 13/100
48/48 [==============================] - 0s 2ms/step - loss: 200.4908 - rmse: 200.4908
Epoch 14/100
48/48 [==============================] - 0s 2ms/step - loss: 198.9595 - rmse: 198.9595
Epoch 15/100
48/48 [==============================] - 0s 2ms/step - loss: 197.6476 - rmse: 197.6476
Epoch 16/100
48/48 [==============================] - 0s 2ms/step - loss: 198.7205 - rmse: 198.7205
Epoch 17/100
48/48 [==============================] - 0s 3ms/step - loss: 196.4369 - rmse: 196.4369
Epoch 18/100
48/48 [==============================] - 0s 2ms/step - loss: 197.4780 - rmse: 197.4780
Epoch 19/100
48/48 [==============================] - 0s 2ms/step - loss: 196.7823 - rmse: 196.7823
Epoch 20/100
48/48 [==============================] - 0s 2ms/step - loss: 197.9097 - rmse: 197.9097
Epoch 21/100
48/48 [==============================] - 0s 2ms/step - loss: 198.2026 - rmse: 198.2026
Epoch 22/100
48/48 [==============================] - 0s 2ms/step - loss: 198.0671 - rmse: 198.0671
Epoch 23/100
48/48 [==============================] - 0s 2ms/step - loss: 196.2572 - rmse: 196.2572
Epoch 24/100
48/48 [==============================] - 0s 2ms/step - loss: 198.1339 - rmse: 198.1339
Epoch 25/100
48/48 [==============================] - 0s 2ms/step - loss: 196.8511 - rmse: 196.8511
Epoch 26/100
48/48 [==============================] - 0s 2ms/step - loss: 198.2373 - rmse: 198.2373
Epoch 27/100
48/48 [==============================] - 0s 2ms/step - loss: 197.1141 - rmse: 197.1141
Epoch 28/100
48/48 [==============================] - 0s 2ms/step - loss: 196.5875 - rmse: 196.5875
Epoch 29/100
48/48 [==============================] - 0s 2ms/step - loss: 196.8801 - rmse: 196.8801
Epoch 30/100
48/48 [==============================] - 0s 2ms/step - loss: 196.5376 - rmse: 196.5376
Epoch 31/100
48/48 [==============================] - 0s 2ms/step - loss: 197.4122 - rmse: 197.4122
Epoch 32/100
48/48 [==============================] - 0s 2ms/step - loss: 195.4790 - rmse: 195.4790
Epoch 33/100
48/48 [==============================] - 0s 2ms/step - loss: 197.3964 - rmse: 197.3964
Epoch 34/100
48/48 [==============================] - 0s 2ms/step - loss: 196.5193 - rmse: 196.5193
Epoch 35/100
48/48 [==============================] - 0s 2ms/step - loss: 196.3523 - rmse: 196.3523
Epoch 36/100
48/48 [==============================] - 0s 2ms/step - loss: 194.8752 - rmse: 194.8752
Epoch 37/100
48/48 [==============================] - 0s 2ms/step - loss: 195.3353 - rmse: 195.3353
Epoch 38/100
48/48 [==============================] - 0s 2ms/step - loss: 196.1187 - rmse: 196.1187
Epoch 39/100
48/48 [==============================] - 0s 3ms/step - loss: 196.3515 - rmse: 196.3515
Epoch 40/100
48/48 [==============================] - 0s 2ms/step - loss: 195.4181 - rmse: 195.4181
Epoch 41/100
48/48 [==============================] - 0s 2ms/step - loss: 196.3349 - rmse: 196.3349
Epoch 42/100
48/48 [==============================] - 0s 2ms/step - loss: 194.7828 - rmse: 194.7828
Epoch 43/100
48/48 [==============================] - 0s 2ms/step - loss: 196.3474 - rmse: 196.3474
Epoch 44/100
48/48 [==============================] - 0s 2ms/step - loss: 196.2518 - rmse: 196.2518
Epoch 45/100
48/48 [==============================] - 0s 2ms/step - loss: 195.9848 - rmse: 195.9848
Epoch 46/100
48/48 [==============================] - 0s 2ms/step - loss: 196.1585 - rmse: 196.1585
Epoch 47/100
48/48 [==============================] - 0s 2ms/step - loss: 194.2222 - rmse: 194.2222
Epoch 48/100
48/48 [==============================] - 0s 2ms/step - loss: 196.2993 - rmse: 196.2993
Epoch 49/100
48/48 [==============================] - 0s 2ms/step - loss: 194.8243 - rmse: 194.8243
Epoch 50/100
48/48 [==============================] - 0s 2ms/step - loss: 197.2017 - rmse: 197.2017
Epoch 51/100
48/48 [==============================] - 0s 2ms/step - loss: 195.5762 - rmse: 195.5762
Epoch 52/100
48/48 [==============================] - 0s 2ms/step - loss: 194.1073 - rmse: 194.1073
Epoch 53/100
48/48 [==============================] - 0s 2ms/step - loss: 194.1495 - rmse: 194.1495
Epoch 54/100
48/48 [==============================] - 0s 3ms/step - loss: 196.8425 - rmse: 196.8425
Epoch 55/100
48/48 [==============================] - 0s 3ms/step - loss: 194.2761 - rmse: 194.2761
Epoch 56/100
48/48 [==============================] - 0s 3ms/step - loss: 194.1709 - rmse: 194.1709
Epoch 57/100
48/48 [==============================] - 0s 3ms/step - loss: 195.0888 - rmse: 195.0888
Epoch 58/100
48/48 [==============================] - 0s 3ms/step - loss: 194.9736 - rmse: 194.9736
Epoch 59/100
48/48 [==============================] - 0s 3ms/step - loss: 194.0453 - rmse: 194.0453
Epoch 60/100
48/48 [==============================] - 0s 3ms/step - loss: 193.4556 - rmse: 193.4556
Epoch 61/100
48/48 [==============================] - 0s 3ms/step - loss: 194.6174 - rmse: 194.6174
Epoch 62/100
48/48 [==============================] - 0s 3ms/step - loss: 192.5742 - rmse: 192.5742
Epoch 63/100
48/48 [==============================] - 0s 3ms/step - loss: 192.0968 - rmse: 192.0968
Epoch 64/100
48/48 [==============================] - 0s 3ms/step - loss: 193.7955 - rmse: 193.7955
Epoch 65/100
48/48 [==============================] - 0s 3ms/step - loss: 194.7223 - rmse: 194.7223
Epoch 66/100
48/48 [==============================] - 0s 3ms/step - loss: 195.1780 - rmse: 195.1780
Epoch 67/100
48/48 [==============================] - 0s 3ms/step - loss: 194.4467 - rmse: 194.4467
Epoch 68/100
48/48 [==============================] - 0s 3ms/step - loss: 195.7081 - rmse: 195.7081
Epoch 69/100
48/48 [==============================] - 0s 3ms/step - loss: 193.4387 - rmse: 193.4387
Epoch 70/100
48/48 [==============================] - 0s 3ms/step - loss: 193.0347 - rmse: 193.0347
Epoch 71/100
48/48 [==============================] - 0s 3ms/step - loss: 193.7464 - rmse: 193.7464
Epoch 72/100
48/48 [==============================] - 0s 3ms/step - loss: 193.7168 - rmse: 193.7168
Epoch 73/100
48/48 [==============================] - 0s 3ms/step - loss: 194.1798 - rmse: 194.1798
Epoch 74/100
48/48 [==============================] - 0s 4ms/step - loss: 194.7417 - rmse: 194.7417
Epoch 75/100
48/48 [==============================] - 0s 3ms/step - loss: 193.7119 - rmse: 193.7119
Epoch 76/100
48/48 [==============================] - 0s 3ms/step - loss: 193.6161 - rmse: 193.6161
Epoch 77/100
48/48 [==============================] - 0s 3ms/step - loss: 193.1781 - rmse: 193.1781
Epoch 78/100
48/48 [==============================] - 0s 4ms/step - loss: 194.2397 - rmse: 194.2397
Epoch 79/100
48/48 [==============================] - 0s 3ms/step - loss: 193.4210 - rmse: 193.4210
Epoch 80/100
48/48 [==============================] - 0s 3ms/step - loss: 193.7044 - rmse: 193.7044
Epoch 81/100
48/48 [==============================] - 0s 3ms/step - loss: 194.8104 - rmse: 194.8104
Epoch 82/100
48/48 [==============================] - 0s 3ms/step - loss: 194.4661 - rmse: 194.4661
Epoch 83/100
48/48 [==============================] - 0s 3ms/step - loss: 192.4932 - rmse: 192.4932
Epoch 84/100
48/48 [==============================] - 0s 4ms/step - loss: 191.3065 - rmse: 191.3065
Epoch 85/100
48/48 [==============================] - 0s 3ms/step - loss: 193.4033 - rmse: 193.4033
Epoch 86/100
48/48 [==============================] - 0s 4ms/step - loss: 191.7380 - rmse: 191.7380
Epoch 87/100
48/48 [==============================] - 0s 3ms/step - loss: 193.1820 - rmse: 193.1820
Epoch 88/100
48/48 [==============================] - 0s 3ms/step - loss: 192.5294 - rmse: 192.5294
Epoch 89/100
48/48 [==============================] - 0s 4ms/step - loss: 193.0284 - rmse: 193.0284
Epoch 90/100
48/48 [==============================] - 0s 4ms/step - loss: 191.5135 - rmse: 191.5135
Epoch 91/100
48/48 [==============================] - 0s 2ms/step - loss: 193.0249 - rmse: 193.0249
Epoch 92/100
48/48 [==============================] - 0s 2ms/step - loss: 192.2452 - rmse: 192.2452
Epoch 93/100
48/48 [==============================] - 0s 3ms/step - loss: 192.5142 - rmse: 192.5142
Epoch 94/100
48/48 [==============================] - 0s 2ms/step - loss: 192.6428 - rmse: 192.6428
Epoch 95/100
48/48 [==============================] - 0s 2ms/step - loss: 192.7039 - rmse: 192.7039
Epoch 96/100
48/48 [==============================] - 0s 2ms/step - loss: 189.6165 - rmse: 189.6165
Epoch 97/100
48/48 [==============================] - 0s 2ms/step - loss: 190.3851 - rmse: 190.3851
Epoch 98/100
48/48 [==============================] - 0s 2ms/step - loss: 192.8203 - rmse: 192.8203
Epoch 99/100
48/48 [==============================] - 0s 2ms/step - loss: 192.4762 - rmse: 192.4762
Epoch 100/100
48/48 [==============================] - 0s 2ms/step - loss: 189.2822 - rmse: 189.2822

In [129]:
predictions = model.predict(X_test)

# Check the shapes of y_test and predictions
print("y_test shape:", y_test.shape)
print("predictions shape:", predictions.shape)

# Flatten both y_test and predictions if necessary
if len(y_test.shape) > 1:
    y_test = y_test.flatten()

if len(predictions.shape) > 1:
    predictions = predictions.flatten()

# Calculate RMSE
rmse_value = rmse(y_test, predictions)
print(f'RMSE on the test set: {rmse_value.numpy()}')

12/12 [==============================] - 0s 2ms/step
y_test shape: (384,)
predictions shape: (384, 1)
RMSE on the test set: 174.71899834861745

In [130]:
# Calculate mean absolute error (MAE)
mae = tf.keras.losses.MeanAbsoluteError()
mae_value = mae(y_test, predictions).numpy()

# Print RMSE and MAE
print(f"RMSE on the test set: {rmse_value:.2f}")
print(f"Mean Absolute Error (MAE) on the test set: {mae_value:.2f}")

RMSE on the test set: 174.72
Mean Absolute Error (MAE) on the test set: 126.95

In [134]:

new_data = np.array([[32,	5,	0,	34.63,	22,	19,	0]])

# Preprocess the new data point
scaled_new_data = scaler.transform(new_data)

# Make a prediction using the preprocessed new data point
new_prediction = model.predict(scaled_new_data)

# Print the prediction
print(f"Predicted value for the new data point: {new_prediction[0][0]:.2f}")

1/1 [==============================] - 0s 21ms/step
Predicted value for the new data point: 254.96